{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{%static style.css%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Billing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarText">
          <ul class="navbar-nav ml-auto flow-right text-right"> 
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">User Details <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Bill <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Ichiraku</h1>
        <p class="lead">For changing your taste with our mouth watering foods we Welcome you and your friends & family</p>
        <hr class="my-4">
        <p>You can order food online or can walk in.<br>NB: Delivery is free and with in 30 mins (T&C applied)</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Menu</a>
      </div>

      

    <form action="" method="POST"  class = "form mx-auto col-lg-6">
      {%csrf_token%}
        <div class = "jumbotron ">

            <ul class = "list-group">
                {% comment %} <li class = "list-group-item mx-auto">
                  <label class="form-check-label" for="phone">Phone Number </label> 
                  <input type="tel" name = 'ph_no' required>
                </li> {% endcomment %}
                <p class = "font-weight-bold"> Starters</p>
                <li class = "list-group-item">

                    <img src="{%static 'chicken65.jpg'%}" alt="Chicken 65" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Chicken 65 (8 piece)</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'chicken_65' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 220</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'paneer_pakora.jpg'%}" alt="paneer_pakora" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em; height : 15rem;">
                    <p class = "d-md-inline-block">Paneer Pakora</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'paneer_pakora' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 200</label>
                      </div>
                </li>
                
            </ul>


            <ul class = "list-group">
                <p class = "font-weight-bold"> Main Course</p>
                <li class = "list-group-item">
                    <img src="{%static 'biryani.jpg'%}" alt="Biryani" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Biryani</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  value="True" name = "biryani" value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 250</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'chicken_hundi.jpg'%}" alt="Chicken Hundi" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Chicken Hundi(12 piece)</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'chicken_hundi' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 380</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'jeera_rice.jpg'%}" alt="Jeera Rice" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Jeera Rice</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'jeera_rice' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 130</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'mutton_kosha.jpg'%}" alt="Mutton Kosha" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Mutton Kosha (10 piece)</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'mutton_kosha' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 450</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'thali.jpg'%}" alt="Special Rajasthani Thali" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Special Rajasthani Thali</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'special_rajasthani_thali' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 650</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'ramen.jpg'%}" alt="Ramen" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Ramen</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'ramen' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 200</label>
                      </div>
                </li>
            </ul>


            <ul class = "list-group">
                <p class = "font-weight-bold"> Desert</p>
                <li class = "list-group-item">
                    <img src="{%static 'rosogolla.jpg'%}" alt="Rosogolla" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Rosogolla (4 piece)</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'rosogolla' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 60</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'keshar_lassi.jpg'%}" alt="Keshar Pista Lassi" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Keshar Pista Lassi</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'keshar_lassi' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 60</label>
                      </div>
                </li>
                
                <li class = "list-group-item">
                    <img src="{%static 'butter_scotch.jpg'%}" alt="Butter Scotch Icecream" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Butter Scotch Icecream</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'butter_scotch' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 60</label>
                      </div>
                </li>

                <li class = "list-group-item">
                    <img src="{%static 'rainbow_mousse.jpg'%}" alt="Rainbow Mousse" class = "d-md-inline-block" style = "width : 15rem; margin-right : 1em;">
                    <p class = "d-md-inline-block">Rainbow Mousse</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input"  name = 'rainbow_mousse' value = 'True'>
                        <label class="form-check-label" for="exampleCheck1">Price 60</label>
                      </div>
                </li>

            </ul>
      </div>
      <div class = "text-center">
        <button type="submit" class="btn btn-primary text-center">Place Order</button>
      </div>
      
    </form>



    
</body>
</html>